In [1]:
b = input().split('%') # gubsghajhdjkas%nkbkjsdf%jkshdkjas%
print(b)
type(b)

deepika
['deepika']

list

In [2]:
input()
type(input())
type(input('Enter Your Name'))

deepika
deepika
Enter Your Namedeepika

str

In [3]:
a = 123123.123123123
b = 12879.678
c = 12678879
d = a + b + c
d1 = a * b / c
print(d)
print(d1)

12814881.801123124
125.07305891792001

In [4]:
a = 100
a = a + 5
a = 5
print(a)

5

In [6]:
z = '234324'
a = 324234
print(type(a))
print(type(z))

<class 'int'>
<class 'str'>

INDEXING

In [9]:
a = 'I live in India'
print(a[10])
a = 'I live in India I live in India I live in India I live magesh India'
a[-9]

I

'e'

 SLICING:

In [11]:
a = 'I live in India'

print(a[2 : 5]) 
print(a[2 : 5 + 1 : 1 ]) 
print(a[2 : 5 + 1  ]) 
print(a[2:6])
print(a[:6])
print(a[2:])
print(a[:])
print(a[-5:-1])
print(a[-5:])
print(a[::2]) 
print(a[2:9:3])

liv
live
live
live
I live
live in India
I live in India
Indi
India
Ilv nIda
len

In [12]:
a = 'I live in India'
#    0123456789.....

print(a[5:1:-1])
print(a[-1:-5-1:-1]) 
print(a[14:10-1:-1]) 
print(a[14:9:-1]) 
print(a[5:0:-1]) 
print(a[5:0-1:-1]) 
print(a[5::-1]) 
print(a[::-1]) 
print(a[::1])

evil
aidnI
aidnI
aidnI
evil

evil I
aidnI ni evil I
I live in India

STR METHODS/FUNCTIONS:

In [14]:
# upper
# lower
# captilize
# title
# swapcase

In [41]:
a = 'I veasdf 23423 AsdKf asdf deepika book'

# syntax:
# str_element.function()

print(a.upper())
print(a.lower())
print(a.capitalize())
print(a.title())
print(a.swapcase())

I VEASDF 23423 ASDKF ASDF DEEPIKA BOOK
i veasdf 23423 asdkf asdf deepika book
I veasdf 23423 asdkf asdf deepika book
I Veasdf 23423 Asdkf Asdf Deepika Book
i VEASDF 23423 aSDkF ASDF DEEPIKA BOOK

In [16]:
a = 'I live in India'
print(a.isalpha()) # all elements must be alphabets
a = 'Magesh'
print(a.isalpha())
a = 'I live in India my no is 2134324'
print(a.isalnum()) # all elements must be alphabets | numbers
a = 'Ilivinmynois2134324'
print(a.isalnum())
a = '2134234'
print(a.isdigit()) # all elements must be numbers
a = '213.4234'
print(a.isdigit())

False
True
False
True
True
False

In [24]:
print(ord('a')) # output will be ascii numbers
print(ord('D'))
print(ord('b'))
print(ord('T')) # output will be ascii numbers
print(ord('d'))

97
68
98
84
100

In [25]:
print(chr(65)) # output will be ascii character

A

In [28]:
#index

a = 'I live in India living good'
#    0123456789.....

print(a.index('v')) # 4
print(a.index('i')) # 3
print(a.index('liv')) # 2
print(a.index('liv',10)) # 16
#print(a.index('liv',17)) # Error

4
3
2
16

In [29]:
# find:

# similar to index

# 1. if the substring is not fount the output will be -1

a = 'I live in India living good'
#    0123456789.....

print(a.find('v')) # 4
print(a.find('i')) # 3
print(a.find('liv')) # 2
print(a.find('liv',10)) # 16
print(a.find('liv',17))

4
3
2
16
-1

In [30]:
# count:

# how many no of times the element is repeated in the string.
# casee sensitive

# syntax:
# str_element.count('substing')

a = 'I live in India living good'
print(a.count('i')) # 5
print(a.count('liv')) # 2

5
2

In [40]:
# join:

# syntax:
# 'substing'.join(str_element)

# 1. the substing will be added in between all the str elements

a = 'deePIKA'
print('&'.join(a)) # 'M a g e s h'
print('-'.join(a)) # 'M-a-g-e-s-h

d&e&e&P&I&K&A
d-e-e-P-I-K-A

In [35]:
# replace:

a = 'I-live-in-India-living*good'

# syntax:
# a.replace('old_substr','new_substr')

print(a.replace('-',' '))
print(a.replace('-','/'))
print(a.replace('in','IN'))

I live in India living*good
I/live/in/India/living*good
I-live-IN-India-livINg*good

In [36]:
# startswith

av = 'staying is like'
print(av.startswith('stay'))
print(av.startswith('Stay')) #CASE SENSITIVE

True
False

# LIST:

In [44]:
a = 'i live in India'
list(a)

['i', ' ', 'l', 'i', 'v', 'e', ' ', 'i', 'n', ' ', 'I', 'n', 'd', 'i', 'a']

In [79]:
# split:

a = 'I live in India'
print(a.split('I')) 

a = 'I live in India'
print(a.split())
print(a.split(' '))
print("".join(a))
# I live in India

['', ' live in ', 'ndia']
['I', 'live', 'in', 'India']
['I', 'live', 'in', 'India']
I live in India

In [42]:
a = [1,2,3,4,'deePIKA','rose',True,2.234,3.234]
b = a[5]
print(b)
print(b[2])
print(a[5][2])
print(a[4][3])

rose
s
s
P

In [43]:
a = [1,2,3,4,'deePIKA','rose',True,2.234,3.234,[11,22,34]]
b = a[-1]
print(b)
print(b[1])
print(a[-1][1])
# print(a[-1][1])

[11, 22, 34]
22
22

In [90]:
# 1. append()

a = [1,2,3,4,'magesh','rose',True,2.234,3.234,[11,22,34]]

a.append("good")
a.append(10)
a.append(10.578)
print(a)
a = [1,2,3,4,[11,22,34],'magesh','rose']
a[4].append('new')
a

[1, 2, 3, 4, 'magesh', 'rose', True, 2.234, 3.234, [11, 22, 34], 'good', 10, 10.578]

[1, 2, 3, 4, [11, 22, 34, 'new'], 'magesh', 'rose']

In [87]:
# 2.pop()


a = [1,2,3,4,'magesh','rose',True,2.234,3.234,[11,22,34]]
a.pop() # it will remove the last element
print(a)
a.pop(4) # it will remove the index element
print(a)

[1, 2, 3, 4, 'magesh', 'rose', True, 2.234, 3.234]
[1, 2, 3, 4, 'rose', True, 2.234, 3.234]

In [88]:
# 3.insert()


a = [1,2,3,4,'magesh','rose',True,2.234,3.234,[11,22,34]]
a.insert(4,'new data') # to add element to the desired index position
a

[1, 2, 3, 4, 'new data', 'magesh', 'rose', True, 2.234, 3.234, [11, 22, 34]]

In [89]:
# 4.extend()


a = [1,2,3,4,'magesh','rose']
a.extend([True,2.234,3.234,[11,22,34]])
print(a)

a = [1,2,3,4,'magesh','rose']
a.append([True,2.234,3.234,[11,22,34]])
print(a)

[1, 2, 3, 4, 'magesh', 'rose', True, 2.234, 3.234, [11, 22, 34]]
[1, 2, 3, 4, 'magesh', 'rose', [True, 2.234, 3.234, [11, 22, 34]]]

In [91]:
# 5.count:

a = [1,2,3,4,5,'1',3,'5','8','1','3','2']
print(a.count(1))
print(a.count('1'))

1
2

In [92]:
# 5.join:

a =['5','8','1','3','2']
'*'.join(a)

'5*8*1*3*2'

In [93]:
# call by value
a = 10
b = a

a = a + 5

print(a)
print(b)

15
10

In [94]:
a = [1,2]
b = a

# call by reference
b.append(3)
a.append(4)

print(a)     
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [95]:
a = [1,2]
b = a.copy()

b.append(3)
a.append(4)

print(a)
print(b)

[1, 2, 4]
[1, 2, 3]

ITERATION:

In [ ]:
# 1. for loop     | finite loop
# 2. while loop

In [96]:
a = '12345'

for i in a:
  print(i)

1
2
3
4
5

In [97]:
a = [1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [ ]:
a = [1,2,3,4,5]
for i in a:
  print(i*'*')

##concatenation

In [98]:
a = 'titi'
b = 'Rose'

a + b

'titiRose'

In [99]:
a = 'titi'

a * 3

'titititititi'

CONDITIONS

In [ ]:
# syntax:
# if condition:
#   statemenet

In [100]:
if True:
  print('Inside the if block')

Inside the if block

In [101]:
if False:
  print('Inside the if block')

In [108]:
mark = 80

if mark > 70:
  print('First Class')
else:
    print('second class')

First Class

In [109]:
if 'Deepika':
  print('First Class')

First Class

In [110]:
'Deepika' * 0

''

In [112]:
avaliable_market = 'Carrot'
need_me = 'Carrot'

if need_me == avaliable_market:
  print('Buy Carrot')
else:
  print('Buy Beetroot')

Buy Carrot

In [113]:
avaliable_market = 'Beetroot'
need_me = 'Carrot'

if need_me == avaliable_market:
  print('Buy Carrot')
else:
  print('Buy Beetroot')

Buy Beetroot

In [114]:
if 45 % 5 * 6:
  print(1)
else:
  print(2)

2

In [115]:
if ['']:
  print(1)
else:
  print(2)

1

In [120]:
avaliable_market = 'butter'

if 'Rava' == avaliable_market:
  print(1)
elif 'batter' == avaliable_market:
  print(2)
elif 'noodles' == avaliable_market:
  print(3)
else:
  print(4)

4