In [ ]:
# DATA TYPES:

# int   - Non-decimal numbers from -Infinity to +Infinity
# float - Decimal numbers from -Infinity to +Infinity
# bool    - True or False
# str     - when anything is inside ' ' or " " or ''' ''' or """ """
# list
# tuple
# set
# dict

In [1]:
343 ,-3543, 4543

(343, -3543, 4543)

In [2]:
3.43 ,-354.3, 4.543 , 5.

(3.43, -354.3, 4.543, 5.0)

In [3]:
# True , False

In [7]:
'deepika' , "I live in India" , '''This is a string'''

('deepika', 'I live in India', 'This is a string')

In [5]:
'34.234'

'34.234'

In [6]:
type('deepika')

str

In [8]:
type(123)

int

In [9]:
type(12.4323)

float

In [10]:
type(-324234.234) # wil be ignored by python for single line

float

In [11]:
print(type('deepika'))   
print(type(123))        
print(type(12.4323))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
print('deepika')
print('I live in India')
print('THis is My btach')

    # INT & FLOAT:

In [13]:
print(10 + 90)
print(10 - 90)
print(10 * 90)

100
-80
900

In [14]:
# division: /

print(20 / 5)

4.0

In [15]:
# Floor Division: //

print(45 // 8) #

5

In [16]:
# Modolo Division: %

print(30 % 9) # 3
print(30 % 8) # 6

3
6

In [17]:
print(452 % 8)      # 4
print(452 // 8)     # 56
4 ** 3 # 64

4
56

64

In [18]:
4 - 6 + 8 / 4 + (2**3 % 5 * 2 - 5 // 2 + 1.5) - 9 // 6 - 2

2.5

In [19]:
print(4 * 2.5 // 5) #  2.0
print(2.5 // 5 * 4) #  0.0
print(25 // 6 * 4) #  16

2.0
0.0
16

In [22]:
2.5 // 5

0.0

COMPARISION/EQUALITY OPERATION:

In [ ]:
# > , < , >= , <= , == , !=

# output will be in bool

In [24]:
print(45 > 45)     
print(45 == 45.00000000)   
print(45 == 45.000000001)   
print(45 != 45 ) 
print(45 >= 45 )

False
True
False
False
True

TYPE CONVERSION:

In [ ]:
int()
# convert any number into int

In [25]:
int(223.234) 
float(223)

223.0

STRING:

In [26]:
str()

''

In [27]:
type(str(23423423))

str

In [28]:
# index_number:
  # it starts from 0 and ends with len-1

In [29]:
a = 'I live in India'
#    0123456789.....
print(a)
print(len(a))

I live in India
15

# INDEXING:

# to take any sing element from str datatype.

# syntax:
# str_element[index_number]

In [33]:
a[5]

'e'

In [34]:
a[10]

'I'

In [35]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']