# for with range
# while
# tuple
# set
# dict
# functions

In [1]:
dir(list())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [2]:
a = [1,2,3,4,5]
for i in a:
  if i % 2 ==0:
    print(i)

2
4

In [3]:
a = [1,2,3,4,5]
for i in a:
  if i % 2 !=0:
    print(i)

1
3
5

range

In [4]:
range(5)

range(0, 5)

In [5]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
print(list(range(5,10))) # 5,6,7,8,9
print(list(range(5,17,3))) # 5,8,11,14

[5, 6, 7, 8, 9]
[5, 8, 11, 14]

In [7]:
for i in range(5):
  print(i)

0
1
2
3
4

In [8]:
a = [1,2,3,4,5]
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])

1
2
3
4
5

In [9]:
a = [1,2,3,4,5]
for i in enumerate(a):
  print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)

In [10]:
a = [1,2,3,4,5]
for i in range(5):
  print(a[i])

1
2
3
4
5

In [11]:
a = [1,2,3]
# a[3] # error

In [12]:
a = 'I live in India'
a = [1,2,3,4,5]
b = [4,5,6,5,6]

for i in a,b:
    print(i)
    
    
for i in range(5):          # range(len(a)) - 0,1,2,3,4
  print(a[i]*b[i])

[1, 2, 3, 4, 5]
[4, 5, 6, 5, 6]
4
10
18
20
30

In [13]:
a = [1,2,3,4,5,6,7,8,9]
for i in range(6):
  print(a[i])

1
2
3
4
5
6

while loop:

In [14]:
m=2
while m > 0:
  print(m)
  m = m - 1

2
1

In [15]:
a = [1,2,3,4]

m = 0                 # condition initilization
while m < len(a):
  print(a[m])
  m = m + 1
    
    
m = 1
while m<5:
    print(m)
    m=m+1

1
2
3
4
1
2
3
4

In [16]:
a = 'I live in'
m = 0                 # condition initilization
while m < len(a):
  print(a[m])
  m = m + 1

I

l
i
v
e

i
n

In [17]:
a = [1,2,3,4,5,6]
m = 0                 # condition initilization
while m < len(a):
  if a[m] % 2 ==0:
    print(a[m])
  m = m + 1

2
4
6

In [18]:
a = [1,2,3,4,5,6]
m = 0                 # condition initilization
while m < len(a):
  if a[m] % 2 !=0:
    print(a[m])
  m = m + 1

1
3
5

ITEM ASSIGNEMENT:

In [19]:
a = [1,2,3,4,5,6,7]

a[3] = 'Magesh'
a[4] = ['Magesh',34, 4543.345]

print(a)

[1, 2, 3, 'Magesh', ['Magesh', 34, 4543.345], 6, 7]

TUPLE: # slicing | indexing | iteration similar to list

In [20]:
a = (1,2,3,4,5,6)


a[3] = 'Magesh'
a[4] = ['Magesh',34,4543.345]

print(a)

TypeError: 'tuple' object does not support item assignment

In [21]:
a = (1,2,3,4,5,6)
b = list(a)
b

[1, 2, 3, 4, 5, 6]

In [22]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [23]:
dir(tuple())

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [24]:
ab = ()
aa = []
print(type(ab))
print(type(aa))

<class 'tuple'>
<class 'list'>

SET

In [25]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [26]:
print(set())
print(list())
print(tuple())
print(dict())

set()
[]
()
{}

In [27]:
a = {1,2,3,4,4,3,2}
print(a)            #does not allow duplicates

{1, 2, 3, 4}

In [28]:
a = {1,2,3,4}
a.add(11)
a

{1, 2, 3, 4, 11}

In [29]:
a = {1,2,3,4,'magesh','a','^'}
a.pop()
a.pop()
a.pop()
a

{4, '^', 'a', 'magesh'}

In [30]:
a = {1,2,3,4,'magesh','a','^'}
a.remove('magesh')
a

{1, 2, 3, 4, '^', 'a'}

In [31]:
a = {1,2,3,4,'magesh','a','^'}
a.remove(2)
a

{1, 3, 4, '^', 'a', 'magesh'}

In [32]:
a = {1,2,3,4,'magesh','a','^'}
a.discard("2")
a.discard('a')
a

{1, 2, 3, 4, '^', 'magesh'}

In [33]:
a = {1,2,3,4,'magesh','a','^'}
b = {5,6,3,4,'one'}

a.union(b)          # all ele of A + all ele of B
a|b

{1, 2, 3, 4, 5, 6, '^', 'a', 'magesh', 'one'}

In [35]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}

a.intersection(b)
a&b

{4, 5, 6}

In [34]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}

print(a.difference(b)) # only ele of A
print(b.difference(a)) # only ele of B

{1, 2, 3}
{8, 9, 7}

In [36]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}

print(a.symmetric_difference(b))

{1, 2, 3, 7, 8, 9}

In [37]:
a = {1,2,3}
b = {1,2,3,4,5,6,7,8,9}
print(a.issubset(b))
print(b.issubset(a))
print(b.issuperset(a))

True
False
True

DICT:

In [38]:
dict()

{}

In [ ]:
dir(dict())

In [40]:
a = {'key':'value' , 'key1':'value1' , 'key2':'titi' , 'key1':'Deepi'}
a

{'key': 'value', 'key1': 'Deepi', 'key2': 'titi'}

In [39]:
a = {'key': 'value', 'key1': 'value1', 'key2': 'value2' , 'name':"Deepi"}
a['key1']

'value1'

In [41]:
a = {'key': 'value', 'key1': 'value1', 'key2': 'titi' , 'name':"Deepi"}
a['cartoon']="cocomelon"
a

{'key': 'value',
 'key1': 'value1',
 'key2': 'titi',
 'name': 'Deepi',
 'cartoon': 'cocomelon'}

In [42]:
school_920 = {
    "name":"Earth",
    "age" :7000,
    "sex" :"F",
    "class":"100"
}
school_920

{'name': 'Earth', 'age': 7000, 'sex': 'F', 'class': '100'}

In [43]:
school = {
    920 : {
    "name":"Earth",
    "age" :7000,
    "sex" :"F",
    "class":"100"
    } ,
    800 : {
        "name":"Mars",
        "age" :700,
        "sex" :"M",
        "class":"99"
    }
}
school

{920: {'name': 'Earth', 'age': 7000, 'sex': 'F', 'class': '100'},
 800: {'name': 'Mars', 'age': 700, 'sex': 'M', 'class': '99'}}

In [ ]:
N = int(input())

if N%13==0:
    print("yes")
    
else:
    print("no")

In [ ]:
x, y = list(map(int,input().split()))
if ((x+y)%2==0):
    print("even")
else:
    print('odd')

In [ ]:
# a= list(map(int,input().split()))
# count=0
# countDigits(a)
# count=count+1
# print(a)
a= 77-99
print(int(a))

In [ ]:
num = int(input())
print(int(num*(num+1)/2))

In [ ]:
S = input()

if S.isnumeric():
    print("yes")
    
else:
    print("no")

In [ ]:
N = int(input())

if N%2==0:
    print("yes")
    
else:
    print("no")

In [ ]:
N = int(input())
if N > 0 and (N & (N - 1)) == 0:
    print("yes")
else:
    print("no")

In [ ]:
N = float(input())
print(roundoff(N))

In [44]:
school[800]['name']
school.update({"name":"Magesh"})
school

{920: {'name': 'Earth', 'age': 7000, 'sex': 'F', 'class': '100'},
 800: {'name': 'Mars', 'age': 700, 'sex': 'M', 'class': '99'},
 'name': 'Magesh'}

In [45]:
a = {'name': 'Mars', 'age': 700, 'sex': 'M', 'class': '99'}
print(a.keys()) # dict_keys - iterabledata
print(a.values()) # dict_values - iterabledata
print(a.items()) # dict_items - iterabledata [('name','Mars'),('age',700),...]

dict_keys(['name', 'age', 'sex', 'class'])
dict_values(['Mars', 700, 'M', '99'])
dict_items([('name', 'Mars'), ('age', 700), ('sex', 'M'), ('class', '99')])