In [8]:
a = [1,2,3,4,5,6]
b = []
m=0
while m<len(a):
  b.append(a[m]*2)
  m=m+1

b

[2, 4, 6, 8, 10, 12]

In [9]:
a = [1,2,3,4,5,6]
b = []
for i in a:
  b.append(2*i)
b

[2, 4, 6, 8, 10, 12]

In [10]:
a = [1,2,3,4,5,6]
for i in a:
    print(2*i)

2
4
6
8
10
12

# Math:
# 1. module
# 2. package
# 3. library

In [16]:
import math

In [18]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [19]:
a = 5
math.sqrt(a)

2.23606797749979

In [22]:
a = 9
math.sqrt(a)

3.0

In [21]:
print(math.floor(324.234234))  # strict decrement
print(math.floor(324.9999999999999))

324
324

In [23]:
print(math.ceil(324.234234))  # strict increment
print(math.ceil(324.0000000001))

325
325

In [24]:
print(round(324.234234,2))
print(round(324.234234,1))
print(round(324.2343)) # < .5 # strict decrement
print(round(324.5343)) # >= .5 # strict increment

324.23
324.2
324
325

function:

In [44]:
a = 'i live in India'

count=0

for i in a:
    count=count+1
    print(i)
print(count)

i

l
i
v
e

i
n

I
n
d
i
a
15

In [46]:
     def hello(one):         # positional argument
  print('Welcome',one)

one = 'Earth'
two = 'Moon'

hello('deepi') z
hello(one)  # 'Welcome Earth'
hello(two)  # 'Welcome Moon'
hello(two)  # 'Welcome Moon'
hello("Python") # 'Welcome Python'

Welcome deepi
Welcome Earth
Welcome Moon
Welcome Moon
Welcome Python

In [50]:
def customlen(a):
  c = 0
  for i in a:
    c =  c +1
  print(c)

In [51]:

# customlen()
customlen(12321312.23423)

14
7

TypeError: 'float' object is not iterable

In [52]:
customlen('Welcome Python')
customlen([1,2,3,4,5,'one','two'])

14
7

In [53]:
print(len('Welcome Python'))
print(len([1,2,3,4,5,'one','two']))
# len()
# len(12321312.23423)

14
7

In [63]:
sum([1,2,3,4,5])

15

In [73]:
a= [1,2,3,4,5]
sum = 0
for i in a:
    sum =  sum+i
print(sum)

15

In [81]:
a = [1,2,3,4,5]
def addition(value):
  c = 0
  for i in value:
    c =  c + i
  print(c)
addition(a)
addition([123,8,5,7,8.87645,3])

15
154.87645

In [86]:
def morning(a,b,c):
  print('it is for a',a)
  print('it is for b',b)
  print('it is for c',c)

a = 10
b = 20
c = 30

morning(a,b,c)
print(15*'*')
morning(c,a,b)
print(15*'*')
morning(90,20,15)
print(15*'*')

it is for a 10
it is for b 20
it is for c 30
***************
it is for a 30
it is for b 10
it is for c 20
***************
it is for a 90
it is for b 20
it is for c 15
***************

In [88]:
print(print(type('one')))

<class 'str'>
None

In [89]:
a = [1,2,3,4,5]
def additon(getting):
  c = 0
  for i in getting:
    c =  c + i
  print(c)

additon(a) + 15

15

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [91]:
a = [1,2,3,4,5,6,7,8]
def additon(getting):
  c = 0
  for i in getting:
    c =  c + i

  return 20
  return c

additon(a) + 15

35

In [95]:
a = [1,2,3,4,5,6,7,8]
def additon(getting):
  c = 0
  for i in getting:
    c =  c + i
  print(20)
  print(10)
  print('10')
  return 20
  return c

v = additon(a) + 15
print(v)

20
10
10
35

In [98]:
def check(a,b,c,d):
  if a>b:
    print(1)
  elif b>a and b > c:
    print(2)
  else:
    return 5
  return 2

In [97]:
v = check(1,2,33,4) + 5
v

10

In [99]:
v = check(1,2,1.33,4) + 5
v

2

7

In [100]:
def con(f,p):
  if f > p:
    return [1,2,3]

  if f == 'mag':
    return 1
  elif f > 90:
    return 2
  else:
    return 3

  if 'Magesh':
    return 4

In [101]:
a = con(40 , 50)

a

3

In [102]:
def con(f,p):
  if f > p:
    return [1,2,3]

  if f != '40':
    print(1)
  elif f > 90:
    return 2
  else:
    return 3

  if 'Magesh':
    return 4

# lambda

In [103]:
a = con(40 , 50)

a

1

4

In [104]:
def con(f,p):
  if f > p:
    return [1,2,3]

  if 'magesh' * 0 == False:
    print(1)
  elif f > 90:
    return 2
  else:
    return 3

  if 'Magesh':
    return 4

In [105]:
'magesh' * 0 == False

False

In [112]:
" " == True

True

CLASS

In [ ]:
# OOPS - Object Oriented Programming

In [31]:
print(type([1,2,3,4]))

<class 'list'>

In [ ]:
# self - instance of a class

In [33]:
class Engine:

  def piston(self):
    print('piston')

  def cylinder(self):
    print('cylinder')

  def flywheel(self):
    print('flywheel')

  def crankshaft(self):
    print('crankshaft')

  def ecu(self):
    print('ECU')

def class()

SyntaxError: invalid syntax (2900489033.py, line 18)

In [35]:
dir(Engine)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'crankshaft',
 'cylinder',
 'ecu',
 'flywheel',
 'piston']

In [5]:
v(4,2,3)

-1.0

In [6]:
v(4,2,3) + 7

6.0

In [15]:
v = lambda a,b,c,d,e,f,g: 2*a+b+c-e*d/f//g
v(10,20,30,80,9,4,565)

70.0

COMPHRENSION:

In [71]:
a = [1,2,3,4,5,6]
b = []
for i in a:
  b.append(2*i)
b

[2, 4, 6, 8, 10, 12]

In [72]:
b = [i*2 for i in a]
b

[2, 4, 6, 8, 10, 12]

In [73]:
b = ['mag' for i in a]
b

['mag', 'mag', 'mag', 'mag', 'mag', 'mag']

In [74]:
b = [i*2 for i in a if i%2==0]
b

[4, 8, 12]

In [75]:
b = [i*2 if i%2 else 'mag' for i in a ]
b

[2, 'mag', 6, 'mag', 10, 'mag']

# EXCEPTION HANDLING: // error handling

In [68]:
try:
  a = '234234a'
  int(a)
except:
  print('There was an error')

There was an error

In [69]:
a = '234234a'
try:
  int(a)
except:
  a = 1000
  print('There was an error')


if a%2 == 0:
  print('even')
else:
  print('odd')

There was an error
even

In [70]:
a = '234234a'
d = {'name':'Magesh',"age":20}
try:
  d['magesh']
# except Exception as e:
except Exception as err:
  a = 1000
  print(err)
  print('There was an error')

'magesh'
There was an error